<h1>ここにcalendarを表示する</h1>
<%= month_calendar events: @plans do |date, events| %>
    <%= date.day %>

    <% events.each do |plan| %>
        <div>
            <%= plan.title %>
        </div>
    <% end %>
<% end %>
