<div class="container mx-auto mt-4" style="max-Width:600px;">
    <div class="text-left mt-4 pb-2 border-bottom border-primary px-3" style="border-width: 10px;">
    <h1>新規登録画面</h1>
    </div>
    <%= render partial: 'form' %> 
</div>